/* PHASE 4: Footer */
footer {
  width: 860px;
  background-color: white;
  color: #aaa;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 14px;
}

footer ul {
  
  display: flex;
}

footer ul li {
  padding-left: 20px;
}